@import "h5bp.css";
@import "bootstrap.min.css";

body{
  padding-top: 60px;
  padding-bottom: 40px;
}
.post-inline{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 20px 0 0 30px;
}