<div class="container" id="create-post-container">
    <div class="margin-auto">


        <input value="<%= model.author %>" placeholder="Author" type="text" name="" id="prop-author" class="create-post-input" tabindex="3">
        <span class="error prop-author help-inline"></span>
        <input value="<%= model.title %>" placeholder="Title" type="text" name="" id="prop-title" class="create-post-input" tabindex="4">
        <span class="error prop-author help-inline"></span>
        <div class="tool-bar">
            <b><a href="#" class="bold-link format-link">B</a></b>
            <i><a href="#" class="italic-link format-link">I</a></i>
            <u><a href="#" class="underline-link format-link">U</a></u>
            <span>
                <a href="#" class="create-link-link format-link">
                    <img class="margin-up-image" src="<%= window.location.pathname %>styles/images/link.png" alt="">
                </a>
            </span>
            <span>
                <a href="#" class="hr-link format-link">
                    <img src="<%= window.location.pathname %>styles/images/horizontalrule.png" alt="">
                </a>
            </span>
            <span>
                <a href="#" class="justify-link format-link">
                    <img class="margin-up-image" src="<%= window.location.pathname %>styles/images/align_justify.png" alt="">
                </a>
            </span>
            <span>
                <a href="#" class="left-link format-link">
                    <img class="margin-up-image" src="<%= window.location.pathname %>styles/images/align_left.png" alt="">
                </a>
            </span>
            <span>
                <a href="#" class="center-link format-link">
                    <img class="margin-up-image" src="<%= window.location.pathname %>styles/images/align_center.png" alt="">
                </a>
            </span>
            <span>
                <a href="#" class="right-link format-link">
                    <img class="margin-up-image" src="<%= window.location.pathname %>styles/images/align_right.png" alt="">
                </a>
            </span>
        </div>
        <div contenteditable="true" data-content="Press Command/Ctrl + S to save.<br> To insert an image, simply drag-n-drop them to this box from your hard drive. Remove image by hitting backspace." data-original-title="<b>Tips</b><a href='#' class='close-popover pull-right'>x</a>" name="" id="prop-content" tabindex="5">
            <%= model.content %>
        </div>
        <label for="prop-sticky" class="display-hidden">
            <input type="checkbox" disabled checked="checked" id="prop-sticky" tabindex="6">
            Sticky
        </label>
        <p>
            <% if (model.id) { %>
            <input type="hidden" value="<%= model.id %>">
            <button class="delete-post">Delete post</button>
            <% } %>
            <button id="submit-post"tabindex="7"><%= model.id ? 'Update' : 'Create' %></button>
        </p>
    </div>
</div>


<div id="only-image-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Woops!</h3>
    </div>
    <div class="modal-body">
        <p>You can only drag-n-drop <b>image files</b> into the content editor.</p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" aria-hidden="true" class="btn">Okay</button>
    </div>
</div>